body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.searchresults-block{
    margin-bottom:10px;
   

}
.img-container{
     position: relative;
     max-width:380px;
}

.button {
    position: absolute;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
    cursor: pointer;
    left: 0; 
    right: 0; 
    top:50%;
    margin-left: auto; 
    margin-right: auto; 
}

.button span {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}

img {
  width:100%;
}
.overlay-container{
    position:relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #FFF;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}
.img-container:hover .button {
  opacity: 1;
}

.img-container:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .3);
}